body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #17202A;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #151B21;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #60B0F4;
}